*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
}

html,
body,
#root{
  width:100%;
  min-height:100vh;
}

body{
  font-family: Inter, sans-serif;
  background:#F8FAFC;
  color:#0F172A;
  line-height:1.5;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}

img{
  max-width:100%;
  display:block;
}

button,
input,
textarea,
select{
  font:inherit;
}

::selection{
  background:#14B8A6;
  color:white;
}

::-webkit-scrollbar{
  width:8px;
}

::-webkit-scrollbar-track{
  background:#E2E8F0;
}

::-webkit-scrollbar-thumb{
  background:#14B8A6;
  border-radius:10px;
}

::-webkit-scrollbar-thumb:hover{
  background:#0D9488;
}

.glass{
  background:rgba(255,255,255,0.75);
  backdrop-filter:blur(20px);
  -webkit-backdrop-filter:blur(20px);
  border:1px solid rgba(255,255,255,0.6);
  box-shadow:0 10px 30px rgba(0,0,0,0.08);
}

.heart-glow{
  filter:
    drop-shadow(0 0 20px rgba(20,184,166,.25))
    drop-shadow(0 0 40px rgba(20,184,166,.15));
}

@keyframes float{
  0%{transform:translateY(0px);}
  50%{transform:translateY(-12px);}
  100%{transform:translateY(0px);}
}

.float{
  animation:float 5s ease-in-out infinite;
}

@keyframes ecgMove{
  from{stroke-dashoffset:1000;}
  to{stroke-dashoffset:0;}
}

.ecg-path{
  stroke-dasharray:1000;
  animation:ecgMove 8s linear infinite;
}

.card-hover{
  transition:all .3s ease;
}

.card-hover:hover{
  transform:translateY(-5px);
  box-shadow:0 20px 40px rgba(20,184,166,.12);
}

.medical-gradient{
  background:linear-gradient(
    135deg,
    #10B981,
    #14B8A6
  );
}